## Imports and Modules.

In [1]:
import pandas as pd

## Read csvs.

In [2]:
shows_df = pd.read_csv("netflix_shows.csv", sep=",", encoding='latin-1')
shows_df

,title,rating,rating_level,rating_description,release_year,user_rating_score,user_rating_size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [3]:
# Remove unnecessary data from netflix_shows.csv (NaN values)
shows_df.dropna(inplace=True)
shows_df

,title,rating,rating_level,rating_description,release_year,user_rating_score,user_rating_size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
...,...,...,...,...,...,...,...
984,The Magic School Bus,TV-Y,Suitable for all ages.,10,1997,81.0,80
986,PokÃŒÂ©mon: Indigo League,TV-Y,Suitable for all ages.,10,2000,74.0,80
988,Paddington,PG,mild action and rude humor,60,2014,70.0,80
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80

In [4]:
# Read csv for shows. 
titles_df = pd.read_csv("netflix_titles.csv")
titles_df

,show_id,show_type,title,director,show_cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason SaldaÃ±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [5]:
titles_df.dropna(inplace=True)
titles_df

,show_id,show_type,title,director,show_cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe IbÃ¡Ã±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",8-Sep-17,2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,8-Sep-17,2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",8-Sep-17,2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...
...,...,...,...,...,...,...,...,...,...,...,...,...
6142,80063224,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"August 30, 2019",2019,TV-PG,7 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
6158,80164216,TV Show,Miraculous: Tales of Ladybug & Cat Noir,Thomas Astruc,"Cristina Vee, Bryce Papenbrook, Keith Silverst...","France, South Korea, Japan","August 2, 2019",2018,TV-Y7,4 Seasons,"Kids' TV, TV Action & Adventure","When Paris is in peril, Marinette becomes Lady..."
6167,80115328,TV Show,Sacred Games,"Vikramaditya Motwane, Anurag Kashyap","Saif Ali Khan, Nawazuddin Siddiqui, Radhika Ap...","India, United States","August 15, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",A link in their pasts leads an honest cop to a...
6182,80176842,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",South Korea,"April 9, 2019",2019,TV-14,4 Seasons,"International TV Shows, Korean TV Shows, Stand...",Male celebs play make-believe as high schooler...
6213,80126599,TV Show,Leyla and Mecnun,Onur ÃœnlÃ¼,"Ali Atay, Melis Birkan, Serkan Keskin, Ahmet M...",Turkey,"April 15, 2017",2014,TV-PG,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Destiny brings Mecnun and Leyla together as ne...

In [6]:
#Extract Movies and TV Shows from the China on Netflix. 
titles_df[titles_df["show_type"]=="Movie"]
titles_df[titles_df["country"]=="China"]

,show_id,show_type,title,director,show_cast,country,date_added,release_year,rating,duration,listed_in,description
90,81004470,Movie,Animal World,Han Yan,"Li Yi Feng, Zhou Dongyu, Michael Douglas, Bing...",China,28-Sep-18,2018,TV-MA,130 min,"Action & Adventure, International Movies, Sci-...","An unlucky, debt-ridden teen resorts to his ma..."
127,80992496,Movie,China Salesman,Tan Bing,"Li Dong Xue, Mike Tyson, Steven Seagal, Janick...",China,24-Sep-18,2017,TV-MA,111 min,"Action & Adventure, International Movies",A Chinese engineer travels to a war-torn Afric...
172,80143797,Movie,I Am Not Madame Bovary,Feng Xiaogang,"Fan Bingbing, Guo Tao, Da Peng, Zhang Jiayi, Y...",China,2-Sep-17,2016,TV-14,139 min,"Comedies, Dramas, International Movies",To qualify for an apartment reserved for singl...
274,81161230,Movie,Shanghai Fortress,Teng Huatao,"Lu Han, Shu Qi, Shi Liang, Godfrey Gao, Wang G...",China,13-Sep-19,2019,TV-14,107 min,"Dramas, International Movies, Romantic Movies",A young man falls for a heroic general and soo...
394,80177834,Movie,The Guardian Brothers,Gary Wang,"Edward Norton, Dan Fogler, Mike Birbiglia, Bel...",China,1-Sep-17,2016,TV-Y7-FV,86 min,"Children & Family Movies, Comedies",When a Chinese family's soup shop is targeted ...
727,80187205,Movie,This Is Not What I Expected,Derek Hui,"Takeshi Kaneshiro, Zhou Dongyu, Sun Yizhou, Mi...",China,14-Oct-17,2017,TV-PG,107 min,"Comedies, International Movies, Romantic Movies",Romance and cuisine mix when a perpetually dis...
1094,80226242,Movie,Brotherhood of Blades II: The Infernal Battlef...,Lu Yang,"Chang Chen, Yang Mi, Zhang Yi, Lei Jiayin, Xin...",China,28-Nov-18,2017,TV-MA,120 min,"Action & Adventure, International Movies","While tracking down a seditious painter, an im..."
1515,80174727,Movie,The Bittersweet,D Ho,"Min-ho Lee, Zhu Xuan",China,1-Nov-17,2017,TV-14,98 min,"Action & Adventure, Dramas, International Movies","As a killer stalks the streets, a troubled you..."
1578,81067760,Movie,The Wandering Earth,Frant Gwo,"Jing Wu, Chuxiao Qu, Jinmai Zhao, Li Guangjie,...",China,6-May-19,2019,TV-MA,125 min,"International Movies, Sci-Fi & Fantasy",A looming collision with Jupiter threatens Ear...
1610,81111849,Movie,Pegasus,Han Han,"Shen Teng, Yin Zheng, Johnny Huang, Zhang Beny...",China,31-May-19,2019,TV-14,98 min,"Comedies, Dramas, International Movies","After a five-year suspension, a once-legendary..."
2033,80201200,Movie,Legend of the Naga Pearls,Yang Lei,"Darren Wang, Zhang Tianai, Sheng Guansen, Simo...",China,30-Mar-18,2017,TV-MA,108 min,"Action & Adventure, International Movies, Sci-...",A petty thief teams up with two bickering acco...
2569,80993655,Movie,Us and Them,Rene Liu,"Jing Boran, Zhou Dongyu, Zhuangzhuang Tian, Qu...",China,22-Jun-18,2018,TV-MA,119 min,"Dramas, International Movies, Romantic Movies",Two strangers meet on a train and form a bond ...
3129,80996349,Movie,What a Wonderful Family!,Huang Lei,"Huang Lei, Sun Li, Lee Li-Chun, Zhang Weixin, ...",China,1-Jul-18,2017,TV-PG,102 min,"Comedies, Dramas, International Movies","In a large family living under one roof, a sto..."
3159,80171528,Movie,Tik Tok,Li Jun,"Wallace Chung, Jung-jae Lee, Lang Yueting, Cha...",China,1-Jul-17,2016,TV-MA,108 min,"Dramas, International Movies, Thrillers",A police officer and a psychologist learn of a...
4671,81030197,Movie,Set Off,Liu Jiang,"Wenpei Ju, Fan Wei, Liu Hua, Qianyuan Wang, Re...",China,1-Dec-18,2008,TV-MA,96 min,"Dramas, International Movies",When a restaurant owner in Cyprus returns to B...
4860,81012978,TV Show,Take My Brother Away,Han Qing,"Sun Qian, Joseph Zeng, Lv Xiao Yu, Hu Yong Tao...",China,24-Aug-18,2018,TV-14,1 Season,"International TV Shows, TV Comedies, TV Dramas",Bickering siblings Shi Miao and Shi Fen tackle...
4936,80153897,Movie,Hide and Seek,Liu Jie,"Wallace Huo, Qin Hailu, Regina Wan, Jessie Li,...",China,19-Aug-17,2016,TV-14,104 min,"International Movies, Thrillers",While living a comfortable life with his wife ...
4937,80138469,Movie,Railroad Tigers,Ding Sheng,"Jackie Chan, Zitao Huang, Jaycee Chan, Wang Ka...",China,19-Aug-17,2016,TV-14,124 min,"Action & Adventure, Comedies, International Mo...","During World War II, a Chinese railroad worker..."
5480,80141156,Movie,Love O2O,Tianyu Zhao,"Jing Boran, Angelababy, Yu Bai, Li Qin, Li Xia...",China,1-Apr-19,2016,TV-14,103 min,"International Movies, Romantic Movies, Sci-Fi ...",A college stud tries to level up his relations...

## Load Data into Database through SQLAlchemy.

In [7]:
import credentials

In [8]:
from sqlalchemy import create_engine
engine = create_engine(f"postgres://postgres:{credentials.pgadmin_pw}@localhost:5432/Netflix_Shows_DB")

In [9]:
# Shows DataFrame to SQL persistence. 
shows_df.to_sql("shows",con=engine,if_exists="append",index=False)

In [10]:
# Titles DataFrame to SQL persistence
titles_df.to_sql("titles", con=engine, if_exists="append",index=False)