In [ ]:
--List the following Netflix titles that are identical from both csvs. 
SELECT shw.title, shw.rating, tle.title
FROM shows as shw
INNER JOIN titles AS tle 
ON (shw.rating = tle.rating);

--List the following TV shows and movies from South Korea, released between 2010 and 2019.

SELECT tle.show_type, tle.title, tle.director, tle.country, tle.release_year, tle.rating
FROM titles AS tle
WHERE release_year BETWEEN 2010 AND 2019 AND country = 'South Korea'
ORDER BY release_year ASC;


--List the following Movies from South Korea released between 2015 and 2019
SELECT tle.show_type, tle.title, tle.director, tle.country, tle.release_year, tle.rating
FROM titles AS tle
WHERE release_year BETWEEN 2015 AND 2019 AND show_type = 'Movie' AND country = 'South Korea'
ORDER BY release_year;


--List the following TV Shows from South Korea released between 2012 and 2019. 
SELECT tle.show_type, tle.title, tle.director, tle.country, tle.release_year, tle.rating
FROM titles AS tle
WHERE release_year BETWEEN 2012 AND 2019 AND show_type = 'TV Show' AND country = 'South Korea'
ORDER BY release_year;


--List the following Movies and TV Shows from Japan released between 2015 and 2019. 
SELECT tle.show_type, tle.title, tle.director, tle.country, tle.release_year, tle.rating
FROM titles AS tle
WHERE release_year BETWEEN 2015 AND 2019 AND country = 'Japan'
ORDER BY release_year;

--List the following Movies from Japan released between 2015 and 2019
SELECT tle.show_type, tle.title, tle.director, tle.country, tle.release_year, tle.rating
FROM titles AS tle
WHERE release_year BETWEEN 2015 AND 2019 AND show_type = 'Movie' AND country = 'Japan'
ORDER BY release_year;


--List the following TV Shows from Japan released between 2015 and 2019. 
SELECT tle.show_type, tle.title, tle.director, tle.country, tle.release_year, tle.rating
FROM titles AS tle
WHERE release_year BETWEEN 2015 AND 2019 AND show_type = 'TV Show' AND country = 'Japan'
ORDER BY release_year;



--List the following Movies from the Philippines released between 2012 and 2019. 
SELECT tle.show_type, tle.title, tle.director, tle.country, tle.release_year, tle.rating
FROM titles AS tle
WHERE release_year BETWEEN 2012 AND 2019 AND show_type = 'Movie' AND country = 'Philippines'
ORDER BY release_year;